
div(class = `ticket-stub ${fontSize}`)
	img(class = 'british-rail-logo', src='british-rail-logo.svg')
	.ticket-stub-container
		.ticket-stub-background
		.ticket-stub-row
			.ticket-stub-class
				.ticket-stub-key Class
				.ticket-stub-value STD
			.ticket-stub-type
				.ticket-stub-key Ticket type
				.ticket-stub-value ANYTIME DAY R
			.ticket-stub-adult
				.ticket-stub-key Adult
				.ticket-stub-value ONE
			.ticket-stub-child
				.ticket-stub-key Child
				.ticket-stub-value NIL
			.ticket-stub-direction
				.ticket-stub-key &nbsp;
				.ticket-stub-value OUT
		.ticket-stub-row
			.ticket-stub-start-date
				.ticket-stub-key Start date
				.ticket-stub-value 28.JNR.11
			.ticket-stub-number
				.ticket-stub-key Number
				.ticket-stub-value 66212 3344430121
		.ticket-stub-row
			.ticket-stub-from
				.ticket-stub-key From
				.ticket-stub-value BROXBOURNE*
			.ticket-stub-valid-until
				.ticket-stub-key Valid until
				.ticket-stub-value 28.JNR.11
			.ticket-stub-price
				.ticket-stub-key Price
				.ticket-stub-value 4.90M
		.ticket-stub-row
			.ticket-stub-to
				.ticket-stub-key To
				.ticket-stub-value HERTFORD STNS*
			.ticket-stub-route
				.ticket-stub-key Route
				.ticket-stub-value
					span ANY PERMITTED
			.ticket-stub-validity
				.ticket-stub-key Validity
				.ticket-stub-value
					span ON DATE SHOWN
